<div class="overflow-x-auto">
    <table class="w-full rounded-3xl overflow-hidden border-collapse bg-white text-[10px] xl:text-base">
        <thead>
            <tr class="bg-primary text-white">
                <th class="border p-3 text-left">Interval</th>
                @for (hall of halls; track $index) {
                <th class="min-w-32 border p-3 text-left">
                    <div class="flex flex-col justify-between gap-2">
                        <span>{{ hall.name }}</span>
                        <button class="inline-flex items-center justify-center whitespace-nowrap rounded-full font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 gap-2 text-primary-foreground hover:bg-primary/75 mt-full h-fit w-fit border border-white bg-black/10 px-3 py-2 text-[10px] leading-none xl:text-xs">
                            <a target="_blank" rel="noopener noreferrer"
                                [href]="hall.url">
                                Află cum ajungi
                            </a>
                        </button>
                    </div>
                </th>
                }
            </tr>
        </thead>
        <tbody>
            @for (row of agenda; track $index) {
                <tr>
                    @for (col of row; track $index) {
                        @if ($first) {
                            <td class="border p-4 font-semibold text-gray-700">{{ col.startTime }} - {{ col.endTime }}</td>
                            @if (row[0].noHalls) {
                                <td [attr.colspan]="halls.length" 
                                    class="p-2 text-center justify-center w-full border font-bold cursor-pointer hover:bg-gray-50" (click)="openPauseDetails(row[0])">
                                    {{ row[0].details.title }}
                                </td>
                            }
                        } 
                        @else {
                        <td class="cursor-pointer border p-2 hover:bg-gray-50 relative">
                            @if (col?.enrolled) {
                                <span class="material-symbols-outlined text-red-600 absolute top-3 right-3">favorite</span>
                            } 
                            @if (col) {
                                <div class="h-48" (click)="openSessionDetails(col)">
                                    <div class="font-montserrat rounded-[4px] font-semibold mb-2 w-fit px-2 py-1 text-[10px] xl:text-base"
                                        [ngStyle]="{
                                            'background-color': col.typeColor + '33',
                                            'color': getTextColor(col.typeColor)
                                        }">
                                        {{ col.type }}
                                    </div>
                                    <div class="mb-2 font-semibold">{{ col.title }}</div>
                                    @for (speaker of col.speakers; track $index) {
                                    <article class="mb-2 flex items-center gap-2 text-sm text-gray-600">
                                        <span class="relative flex shrink-0 overflow-hidden rounded-full h-6 w-6 xl:h-8 xl:w-8">
                                            <img alt="{{ speaker.name }}" loading="lazy" width="64" height="64"
                                                decoding="async" data-nimg="1" class="h-full w-full object-cover"
                                                [src]="speaker.imageUrl">
                                        </span>
                                        <span class="text-[10px] leading-tight xl:text-sm">{{ speaker.name }}</span>
                                    </article>
                                    }
                                </div>
                            } @else {
                                <div class="h-48 flex items-center justify-center "></div>
                            }
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>