<h1 class="text-3xl lg:text-4xl font-bold mb-4 lg:mb-8">Setări</h1>
<p class="border-l-2 border-primary pl-2 mt-2 text-sm lg:text-base">Aceste detalii ne vor ajuta să te cunoaștem mai bine.</p>
<form class="flex w-full flex-col gap-4 lg:gap-8 mt-4 lg:mt-8 xl:grid xl:grid-cols-2" [formGroup]="settingsForm" (ngSubmit)="handleSubmit()">
    <div class="space-y-2">
        <label
            class="text-sm leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 font-semibold"
            for="first-name">Prenume
        </label>
        <input
            class="flex h-10 w-full rounded-full border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            placeholder="Ion" id="first-name" name="firstName" formControlName="firstName">
    </div>
    <div class="space-y-2">
        <label
            class="text-sm leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 font-semibold"
            for="last-name">Nume</label>
        <input
            class="flex h-10 w-full rounded-full border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            placeholder="Popescu" id="last-name" name="lastName" formControlName="lastName">
    </div>
    <div class="space-y-2">
        <label
            class="text-sm leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 font-semibold">
            Nivelul de educație
        </label>
        <select class="flex h-10 items-center justify-between rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 [&amp;&gt;span]:line-clamp-1 w-full" formControlName="educationLevel">
            <option selected disabled>Nivelul de educație</option>
            @for (option of educationLevels; track option) {
                <option [value]="option">{{ option }}</option>
            }
        </select>
    </div>
    @if (settingsForm.get('educationLevel')?.value === 'Liceu') {
    <div class="space-y-2">
        <label
            class="text-sm leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 font-semibold">
            Liceu
        </label>
        <select class="flex h-10 items-center justify-between rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 [&amp;&gt;span]:line-clamp-1 w-full" formControlName="educationInstitution">
            <option selected disabled>Liceu</option>
            @for (option of highSchools; track option) {
                <option [value]="option">{{ option }}</option>
            }
        </select>
    </div>
    <div class="space-y-2">
        <label
            class="text-sm leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 font-semibold">
            Clasa
        </label>
        <select class="flex h-10 items-center justify-between rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 [&amp;&gt;span]:line-clamp-1 w-full" formControlName="educationYear">
            <option selected disabled>Clasa</option>
            @for (option of educationYearsHighSchool; track option) {
                <option [value]="option">{{ option }}</option>
            }
        </select>
    </div>
    }
    @if (['Licență', 'Master', 'Doctorat'].includes(settingsForm.get('educationLevel')?.value)) {
    <div class="space-y-2">
        <label
            class="text-sm leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 font-semibold">
            Universitate
        </label>
        <select 
            class="flex h-10 items-center justify-between rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 [&amp;&gt;span]:line-clamp-1 w-full" formControlName="educationInstitution"
            (click)="onSelectUniversity($event.target)">
            <option selected disabled>Universitate</option>
            @for (option of universities; track option) {
                <option [value]="option.name" >{{ option.name }}</option>
            }
        </select>
    </div>
    <div class="space-y-2">
        <label
            class="text-sm leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 font-semibold">
            Facultate
        </label>
        <select class="flex h-10 items-center justify-between rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 [&amp;&gt;span]:line-clamp-1 w-full" formControlName="faculty">
            <option selected disabled>Facultate</option>
            @for (option of faculties; track option) {
                <option [value]="option">{{ option }}</option>
            }
        </select>
    </div>
    <div class="space-y-2">
        <label
            class="text-sm leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 font-semibold">
            Anul de studiu
        </label>
        <select class="flex h-10 items-center justify-between rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 [&amp;&gt;span]:line-clamp-1 w-full" formControlName="educationYear">
            <option selected disabled>Anul de studiu</option>
            @for (option of educationYears; track option) {
                <option [value]="option">{{ option }}</option>
            }
        </select>
    </div>
    }
    <div class="space-y-2">
        <label
            class="text-sm leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 font-semibold">
            Ocupație
        </label>
        <select class="flex h-10 items-center justify-between rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 [&amp;&gt;span]:line-clamp-1 w-full" formControlName="occupation">
            <option selected disabled>Ocupație</option>
            @for (option of occupations; track option) {
                <option [value]="option">{{ option }}</option>
            }
        </select>
    </div>
    <div class="space-y-2">
        <label
            class="text-sm leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 font-semibold">
            Experiență profesională
        </label>
        <select class="flex h-10 items-center justify-between rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 [&amp;&gt;span]:line-clamp-1 w-full" formControlName="experience">
            <option selected disabled>Experiență profesională</option>
            @for (option of experienceLevels; track option) {
                <option [value]="option">{{ option }}</option>
            }
        </select>
    </div>
    <div class="space-y-2">
        <label
            class="text-sm leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 font-semibold">
            Cum ai auzit de noi?
        </label>
        <textarea
            class="flex min-h-[80px] w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            formControlName="heardAboutUs"></textarea>
    </div>
    <button
        class="inline-flex w-fit items-center justify-center text-white whitespace-nowrap rounded-full text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 gap-2 bg-primary text-primary-foreground hover:bg-primary/75 h-10 px-6 py-2 flex-1"
        type="submit">Salvează</button>
</form>