<div
  class="fixed lg:flex flex-col bg-gray-200 text-white pt-28 lg:pt-36 h-full dark:bg-black dark:text-white p-2 lg:p-6 lg:w-64 z-30"
>
  <a class="flex items-center gap-2 font-medium text-gray-900 p-2 border-b-2 border-gray-300 rounded-md hover:text-primary select-none dark:hover:bg-gray-900 dark:hover:text-gray-200"
    href="/dashboard" routerLinkActive="bg-gray-300 dark:bg-gray-900" 
    routerLink="/dashboard"
    [routerLinkActiveOptions]="{ exact: true }">
    <span class="material-symbols-outlined scale-75">home</span>
    <span class="hidden lg:relative">Home</span>
  </a>
  <a class="flex items-center gap-2 font-medium text-gray-900 p-2 border-b-2 border-gray-300 rounded-md hover:text-primary select-none dark:hover:bg-gray-900 dark:hover:text-gray-200"
    href="/dashboard/settings" routerLinkActive="bg-gray-300 dark:bg-gray-900" 
    routerLink="/dashboard/settings">
    <span class="material-symbols-outlined scale-75">manage_accounts</span>
    <span class="hidden lg:relative">Setări</span>
  </a>
  <a class="flex items-center gap-2 font-medium text-gray-900 p-2 border-b-2 border-gray-300 rounded-md hover:text-primary select-none dark:hover:bg-gray-900 dark:hover:text-gray-200"
    href="/dashboard/talks" routerLinkActive="bg-gray-300 dark:bg-gray-900" 
    routerLink="/dashboard/talks" *isAdmin>
    <span class="material-symbols-outlined scale-75">adaptive_audio_mic</span>
    <span class="hidden lg:relative">Talks</span>
  </a>
  <a class="flex items-center gap-2 font-medium text-gray-900 p-2 border-b-2 border-gray-300 rounded-md hover:text-primary select-none dark:hover:bg-gray-900 dark:hover:text-gray-200"
    href="/dashboard/speakers" routerLinkActive="bg-gray-300 dark:bg-gray-900" 
    routerLink="/dashboard/speakers" *isAdmin>
    <span class="material-symbols-outlined scale-75">campaign</span>
    <span class="hidden lg:relative">Speakeri</span>
  </a>
  <a class="flex items-center gap-2 font-medium text-gray-900 p-2 border-b-2 border-gray-300 rounded-md hover:text-primary select-none dark:hover:bg-gray-900 dark:hover:text-gray-200"
    href="/dashboard/users" routerLinkActive="bg-gray-300 dark:bg-gray-900" 
    routerLink="/dashboard/users" *isAdmin>
    <span class="material-symbols-outlined scale-75">groups_3</span>
    <span class="hidden lg:relative">Utilizatori</span>
  </a>
  <a class="flex items-center gap-2 font-medium text-gray-900 p-2 border-b-2 border-gray-300 rounded-md hover:text-primary select-none dark:hover:bg-gray-900 dark:hover:text-gray-200"
    href="/dashboard/partners" routerLinkActive="bg-gray-300 dark:bg-gray-900" 
    routerLink="/dashboard/partners" *isAdmin>
    <span class="material-symbols-outlined scale-75">local_atm</span>
    <span class="hidden lg:relative">Parteneri</span>
  </a>
  <a class="flex items-center gap-2 font-medium text-gray-900 p-2 border-b-2 border-gray-300 rounded-md hover:text-primary select-none dark:hover:bg-gray-900 dark:hover:text-gray-200"
    href="/dashboard/partners" routerLinkActive="bg-gray-300 dark:bg-gray-900" 
    routerLink="/dashboard/partners" *isAdmin>
    <span class="material-symbols-outlined scale-75">video_library</span>
    <span class="hidden lg:relative">Arhivă</span>
  </a>
</div>
