<section id="hero-section"
    class="flex h-[1150px] min-h-screen justify-center overflow-x-hidden bg-secondary pt-32 xl:h-screen xl:items-center xl:pt-20">
    <div class="relative flex w-full max-w-[1200px] flex-col items-center px-8 xl:items-start">
        <section>
            <h1 class="mb-6 text-5xl font-bold leading-[1.2] text-white xl:text-[120px]">
                <div class="text-primary m">FII IT-ist</div>se întoarce
            </h1>
            <h2 class="text-lg font-bold text-white xl:text-2xl">
                [ 9 Noiembrie, Iași,
                <a class="underline transition-all hover:text-red-300"
                    href="https://maps.app.goo.gl/Tk4Cxnsn3ux3tnZR7" target="_blank">
                    Sala Pașilor Pierduți, Corp A, UAIC</a>&nbsp;]
            </h2>
            <div class="mt-14 flex flex-wrap gap-4 text-white">
                <a class="inline-flex items-center justify-center whitespace-nowrap rounded-full font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/75 h-16 px-8 text-lg gap-7"
                    href="/sign-in" routerLink="/sign-in">
                    Rezervă locul 
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="lucide lucide-arrow-up-right animate-bounce">
                        <path d="M7 7h10v10"></path>
                        <path d="M7 17 17 7"></path>
                    </svg>
                </a>
            </div>
        </section>
    </div>
</section>