<div class="flex flex-col gap-8 mt-16">
    <p class="text-center font-semibold">
        Felicitări 🎉, ai un cont activat. Acum ești înscris la conferința FII IT-ist!
    </p>
    <img alt="hooray" loading="lazy" width="720" decoding="async" data-nimg="1" class="mx-auto"
        style="color: transparent;" src="/sign-up-confirm.svg">
    <div class="col-span-2 flex flex-col gap-4 xl:flex-row">
        <a class="inline-flex text-white items-center justify-center whitespace-nowrap rounded-full text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 gap-2 bg-primary text-primary-foreground hover:bg-primary/75 h-10 px-6 py-2 flex-1"
            routerLink="/sign-in" href="/sign-in">
            Autentificare
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" class="lucide lucide-arrow-right h-4 w-4">
                <path d="M5 12h14"></path>
                <path d="m12 5 7 7-7 7"></path>
            </svg>
        </a>
    </div>
</div>