@if (partners$ | async; as partners) {
<div class="flex justify-between items-start">
  <h1 class="text-3xl lg:text-4xl font-bold text-gray-900 mb-4 dark:text-white">Speakeri</h1>
  <button
    (click)="onAddPartner(partners)"
    class="text-indigo-600 rounded-lg flex items-center space-x-1 pl-2 pr-4 py-2 hover:bg-gray-200 dark:hover:bg-gray-800 select-none"
  >
    <span class="material-symbols-outlined scale-75">add</span>
    <span>Adaugă Partener</span>
  </button>
</div>
<div class="flex flex-col gap-4">
  @for (partner of partners; track partner._id) {
    <div class="overflow-x-auto bg-white shadow-md rounded-lg">
        <div class="flex items-center justify-between p-4">
            <div class="flex items-center gap-4">
            <img [src]="partner.imageUrl" alt="{{ partner.name }}" class="w-16 h-16 rounded-full">
            <h2 class="text-xl font-semibold text-gray-900 dark:text-white">{{ partner.name }}</h2>
        </div>
        <div class="flex items-center gap-2">
            <button (click)="onEditPartner(partners, $index)">
                <span class="material-symbols-outlined hover:text-primary">edit</span>
            </button>
            <button (click)="onDeletePartner(partners, $index)">
                <span class="material-symbols-outlined hover:text-primary">delete</span>
            </button>
            </div>
        </div>
    </div>
  }
  </div>
}