<footer class="bg-secondary border-t-gray-500 text-white border-t-2 z-50 sticky">
    <div class="mx-auto flex max-w-screen-xl flex-col gap-8">
        <div class="mt-8 flex flex-col items-center justify-between gap-8 xl:flex-row">
            <a href="/" routerLink="/">
                <img alt="FII IT-ist Logo" loading="lazy" width="170" height="55"src="/logo.svg">
            </a>
            <div class="flex flex-col xl:flex-row">
                <a class="inline-flex items-center justify-center whitespace-nowrap rounded-full ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 gap-2 decoration-primary underline-offset-8 hover:underline font-medium h-16 px-8 text-lg text-white"
                    href="/" routerLink="/">Acasă</a>
            </div>
            <div class="flex gap-2">
                <a target="_blank" rel="noopener noreferrer"
                    class="inline-flex items-center justify-center whitespace-nowrap rounded-full text-sm ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 gap-2 decoration-primary underline-offset-8 hover:underline font-medium h-10 w-10 text-white"
                    href="https://www.facebook.com/p/FII-IT-ist-100071218083539/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-facebook">
                            <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                    </svg>
                </a>
                <a target="_blank" rel="noopener noreferrer"
                    class="inline-flex items-center justify-center whitespace-nowrap rounded-full text-sm ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 gap-2 decoration-primary underline-offset-8 hover:underline font-medium h-10 w-10 text-white"
                    href="https://www.instagram.com/fiiitist/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-instagram">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                        <line x1="17.5" x2="17.51" y1="6.5" y2="6.5"></line>
                    </svg>
                </a><a target="_blank" rel="noopener noreferrer"
                    class="inline-flex items-center justify-center whitespace-nowrap rounded-full text-sm ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 gap-2 decoration-primary underline-offset-8 hover:underline font-medium h-10 w-10 text-white"
                    href="https://www.linkedin.com/company/fii-it-ist/"><svg xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-linkedin">
                        <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                        <rect width="4" height="12" x="2" y="9"></rect>
                        <circle cx="4" cy="4" r="2"></circle>
                    </svg>
                </a>
            </div>
        </div>
        <div class="h-[1px] w-full bg-neutral-800"></div>
        <p class="mb-8 text-center text-sm text-neutral-500">Copyright © FII IT-ist {{ year}}. All rights reserved.</p>
    </div>
</footer>