<section id="agenda-section" class="mx-auto flex w-full max-w-screen-xl flex-col justify-center px-8 pt-8 xl:items-center xl:px-0">
    <div class="mb-16 flex flex-col items-center"> 
        <span class="font-montserrat text-center text-6xl font-black leading-[120px] text-[#EDECF6] xl:text-8xl">AGENDA</span>
        <span class="font-montserrat mt-[-70px] text-center text-2xl font-bold leading-[57.6px] text-[#000000] xl:mt-[-55px] xl:text-5xl">
            <span class="text-[#D03E45]">Când</span>
            și&nbsp;
            <span class="text-[#D03E45]">unde</span>?
        </span>
        <div class="font-montserrat mt-[30px] max-w-[589px] text-center text-sm font-normal leading-6 text-[#2B293D] xl:text-base">
            Descoperă mai jos când și unde va avea loc conferința care te interesează cel mai mult din cadrul
            proiectului "FII IT-ist".
        </div>
    </div>
    <div class="mx-auto mb-16 flex w-fit flex-col gap-2">
        <p class="mb-4 text-center text-xl font-bold text-primary xl:text-4xl">Conferința principală</p>
        <div class="flex items-center gap-2" *noUser>
            <span class="material-symbols-outlined text-primary h-5 w-5 xl:h-6 xl:w-6">checkbook</span>
            <a class="inline-flex items-center justify-center whitespace-nowrap rounded-full ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 gap-2 text-primary decoration-primary underline-offset-8 hover:underline font-medium h-10 px-6 py-2 h-auto !p-0 !text-base !font-bold !text-black underline !decoration-black underline-offset-auto xl:text-xl"
                target="_blank" rel="noopener noreferrer" routerLink="/sign-up" href="/sign-up">
                Inscrie-te aici!
            </a>
        </div>
        <div class="flex items-center gap-2">
            <span class="material-symbols-outlined text-primary h-5 w-5 xl:h-6 xl:w-6">history_2</span>
            <p class="text-center !text-base font-medium xl:text-xl">9 Noiembrie, 09:00 - 16:00</p>
        </div>
        <div class="flex items-center gap-2">
            <span class="material-symbols-outlined text-primary h-5 w-5 xl:h-6 xl:w-6">location_on</span>
            <a class="inline-flex items-center justify-center whitespace-nowrap rounded-full ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 gap-2 text-primary decoration-primary underline-offset-8 hover:underline font-medium h-10 px-6 py-2 h-auto !p-0 !text-base !text-black underline !decoration-black underline-offset-auto xl:text-xl"
                target="_blank" rel="noopener noreferrer" href="https://maps.app.goo.gl/LA2LoJU1EMT1oQs37">
                Sala Pașilor Pierduți, Corp A, UAIC
            </a>
        </div>
    </div>
    <talks />
</section>